/*background*/

.button:hover {
	cursor: pointer;
}

.ball-levels {
	cursor: pointer;
}

body {
	background-image: url("../../assets/images/grass.png");
	background-size: cover;
	font-family: "Recursive", sans-serif;
	height: 100%;
	width: 100%;
	color: #fbcb04;
}

body::after {
	content: "";
	background-color: white;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

h2 {
	font-size: 3vh;
	margin-bottom: 10px;
}

.fa-volume-up {
	font-size: 5vh;
	position: fixed;
	top: 20px;
	right: 25px;
	color: #3a6eb8;
	z-index: 0;
}

.fa-volume-up:hover {
	cursor: pointer;
}

.fa-volume-mute {
	font-size: 5vh;
	position: fixed;
	top: 20px;
	right: 25px;
	color: #3a6eb8;
	z-index: 0;
}

.fa-volume-mute:hover {
	cursor: pointer;
}


/*Title Section*/

#title-section {
	margin-top: 10px;
	margin-bottom: 5px;
}

#title-image {
	width: 20vh;
	height: 8vh;
}

#title h1 {
	padding-left: 10px;
	text-shadow: 2px 2px #3a6eb8;
	font-size: 15px;
}

.title-top-buffer {
	text-align: center;
}

.blank-space {
	padding: 3vh;
}

.difficultyText {
	color: #d6ad0a;
	font-size: 20px;
	padding-top: 20px;
	text-shadow: 0px 0px 3px blue;
}

.game-box-card {
	display: none;
	background-color: grey;
	opacity: 90%;
	padding-top: 10px;
	text-align: center;
	width: 100%;
	height: 75vh;
}

.game-box-button {
	width: 100%;
	text-align: center;
	font-size: 2vh;
	border: 5px solid #555;
	padding: 5px 15px;
	border-radius: 10px;
	margin: 5px;
	background-color: #444;
}

input[type="image"] {
	opacity: 50%;
	border: 0 none;
}

input[type="image"]:focus {
	opacity: 100%;
	outline: 0;
}


/* League Levels(Game difficulty) */

#difficulty-section {
	margin-top: 20px;
}

.ball-levels {
	height: 15vh;
	width: 15vh;
	opacity: 50%;
}


/*Start*/

.initiate-top-buffer {
	margin-top: 60px;
}

#start {
	position: relative;
}

#rules {
	position: relative;
}


/*How to Play*/

.prof_oak {
	max-height: 40vh;
}

.rules-title h2 {
	font-size: 2vh;
	padding: 0px;
}

.rules-box-button {
	text-align: center;
	font-size: 3vh;
	border: 5px solid #555;
	padding: 5px 15px;
	border-radius: 10px;
	margin: 15px 5px 5px 5px;
	background-color: #444;
}

.next-button {
	text-align: center;
	font-size: 2vh;
	border: 5px solid #555;
	padding: 5px 15px;
	border-radius: 10px;
	margin: 0px 5px 5px 5px;
	background-color: #444;
	float: right;
}


/* Game Mode */

.league-title {
	height: 5vh;
}

.league-title h2 {
	font-size: 4vh;
}

.time img {
	width: 2vh;
}

.time {
	font-size: 1.5vh;
}

.ball-match {
	height: 15vh;
	width: 15vh;
}

#league-masterball .ball-row {
	height: 16vh;
	margin-top: 15px;
}

#league-greatball .ball-row {
	height: 16vh;
	margin-top: 15px;
}

#league-pokeball .ball-row {
	height: 16vh;
	margin-top: 15px;
}

.ball-match:hover {
	cursor: pointer;
}

.return-button {
	text-align: center;
	font-size: 2vh;
	border: 5px solid #555;
	padding: 5px 15px;
	border-radius: 10px;
	background-color: #444;
	position: absolute;
	right: 5%;
	color: #fbcb04;
}


/* Modals */

.modalReturn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Lose modal */

.timeUpWholeModal {
	background-color: #c2cccf;
}

.timeUpTitle {
	font-size: 4vh;
	text-align: center;
	color: #25689d;
	margin: 0 auto;
}

#timeUpScreen img {
	height: 26vh;
	width: 26vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#timeUpScreen h2 {
	font-size: 2vh;
	text-align: center;
	color: #25689d;
}


/* Win modal */

.winWholeModal {
	background-color: #e9e799;
}

.winTitle {
	font-size: 4vh;
	text-align: center;
	color: #ff1010;
	margin: 0 auto;
}

#winScreen img {
	height: 26vh;
	width: 26vh;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#winScreen h2 {
	font-size: 2vh;
	text-align: center;
	color: #ff1010;
}


/* Screen sizes */

@media screen and (max-width: 1366px) {
	.ball-levels {
		height: 10vh;
		width: 10vh;
	}
	.ball-match {
		height: 10vh;
		width: 10vh;
	}
}

@media screen and (max-width: 700px) {
	.ball-levels {
		height: 10vh;
		width: 10vh;
	}
	.ball-match {
		height: 10vh;
		width: 10vh;
	}
	.difficultyText {
		font-size: 12px;
		padding-top: 10px;
	}
	.rules-box-button {
		font-size: 2vh;
	}
	.next-button {
		font-size: 1.5vh;
	}
}

@media screen and (max-width: 568px) {
	.ball-levels {
		height: 8vh;
		width: 8vh;
	}
	.ball-match {
		height: 8vh;
		width: 8vh;
	}
	#title {
		left: 140px;
	}
}

@media screen and (max-width: 538px) {
	.ball-levels {
		height: 7vh;
		width: 7vh;
	}
	.ball-match {
		height: 7vh;
		width: 7vh;
	}
	#league-masterball .ball-row {
		height: 11vh;
	}
	#title {
		left: 90px;
	}
}

@media screen and (max-width: 400px) {
	#title {
		left: 80px;
	}
}

@media screen and (max-width: 340px) {
	.rules-box-button {
		font-size: 1.7vh;
	}
	.next-button {
		font-size: 1vh;
	}
	#title {
		left: 60px;
	}
}