/*background*/

body {
    background-image:url("../../assets/images/grass.png");
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Recursive', sans-serif;
}

body::after {
  content: "";
  background-color:white;
  background-repeat:no-repeat;
  background-size:cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


/*Title Page*/

/*Title*/

#title h1 {   
    padding-left:30px;
    color:#fbcb04;
    text-shadow: 2px 2px #3a6eb8;
    font-size:50px;
}
.title-top-buffer {
    margin-top:20px;
    text-align:center;
}
#game-box{
    background-color:grey;
    height:600px;
    padding-top:20px;
    text-align:center;
}

/* League Levels(Game difficulty) */



#league-levels h2{             
    color:#fbcb04;    
    font-size:35px;
    
}

.difficulty-top-buffer{
    margin-top: 60px;
}

.ball-levels{
    height:140px;
    width:140px;    
    opacity: 0.8;
    margin-left:170px;
    margin-top:30px;
}

.ball-levels:hover {
    height:150px;
    width:150px;
    margin: -10px;
    opacity: 1;
     margin-left:170px;
     margin-top:30px;
}

#pokeball{
    background-image:url("../../assets/images/Poké_Ball_Sprite.png");
    background-size:cover;
    
    
}

#greatball{
    background-image:url("../../assets/images/Great_Ball_Sprite.png");
    background-size:cover;
}

#masterball{
    background-image:url("../../assets/images/Master_Ball_Sprite.png");
    background-size:cover;
}

/*Start*/

#game-initiate {
    
}

.initiate-top-buffer{
    margin-top: 60px;
}

#start {
    color:#fbcb04;
    position:relative;
    
}

#rules {
    color:#fbcb04;
    position:relative;
    
}